* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.sildes {
  display: none;
}
img {
  width: 100%;
}

/* Button */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: 20px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgb(77, 75, 75);
}

.text {
  color: rgb(74, 197, 150);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
/* dot */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 auto;
}

.active,.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
